
/*mainimg
---------------------------------------------------------------------------*/
#mainimg {
	float: right;
	width: 65%;
	height: auto;
	position: relative;
	flex-basis: 80%;
}

.image {
	width: 100%;
	position: relative;
}

.text-sub {
	width: 150px;
	background: url(../images/arrow.svg) no-repeat center bottom 10px;
	position: absolute;
	bottom: 4%;
	left: 5%;
	letter-spacing: 0.8rem;
	font-weight: bold;
}

.text-sub a {
	text-decoration: unset;
	font-size: 22px;
	font-weight: bold;
	color: #000;
	padding-left: 5px;
	font-family: Mr Eaves Mod OT;
}

@media screen and (min-width:481px) {
	.text-sub:hover {
		width: 165px;
	}
}

.text-sub:hover a {
	color: #deb025;
}

.image-logo-1 {
	background: url(../images/logo_container.svg) no-repeat;
}

.image-logo-2 {
	background: url(../images/logo_little.svg) no-repeat;
}

@media screen and (max-width:480px) {
	#mainimg {
		width: 100%;
	}

	.text-sub {
		width: 100px;
    letter-spacing: 0.5em;
    background: url(../images/arrow.svg) no-repeat center bottom 4px;
    width: 80px;
	}

  .text-sub a{
    font-size: 1rem;
  }
}
