@charset "utf-8";


/*keyframes.cssの読み込み
---------------------------------------------------------------------------*/
@import url("keyframes.css");


/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html, body {
  font-size: 16px;
  /*文字サイズ*/
}

body {
  padding: 0px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "小塚ゴシック", "Helvetica", "sans-serif";
  line-height: 2;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, form, figure, form {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-weight: normal;
}

ul {
  list-style-type: none;
}


img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
  color: #000;
  transition: 0.2s;
  /*マウスオン時の移り変わるまでの時間設定。0.2秒。*/
}

a:hover {
  color: #deb025;
  text-decoration: none;

}

/*inner
---------------------------------------------------------------------------*/
.inner {
  max-width: 1800px;
}

/*section
---------------------------------------------------------------------------*/
section {
  overflow: hidden;
}

#container {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

/*ヘッダー
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header:after {
  content: "";
  display: block;
  clear: both;
}

header {
  height: 80px;
}

header a {
  color: #fff;
}

/*ヘッダーブロック（トップページへの追加指定）*/
.home header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

/*ロゴ画像*/

/*ロゴ画像（トップページのロゴ画像への追加指定）*/
.home header #logo {
  width: 100px;
  display: inline-block;
}

/*ロゴと、縦書きメニューが入ったブロック*/
.home header #inner-header {
  text-align: center;
  flex-basis: 20%;
}

/*開閉メニュー
---------------------------------------------------------------------------*/
/*スマホ用メニューブロック全体*/
#menubar {
  position: absolute;
  top: 114px;
  left: 100px;
  width: 150px;
}

#menubar ul {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10%;
  border: 1px solid #fff;
  background: #e1e1e1;
  animation-name: opa1;
  /*keyframes.cssで使う@keyframesの指定*/
  animation-duration: 1s;
  /*アニメーションの実行時間。0.5秒。*/
  animation-fill-mode: both;
  /*待機中は最初のキーフレームを、完了後は最後のキーフレームを維持*/
}

/*メニュー１個あたりの設定*/
#menubar ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  /*文字色*/
  padding: 5px 0;
  /*上下、左右へとる余白*/
  text-transform: uppercase;
}

/*currentがついたメニューと、マウスオン時のリンクテキストの文字色*/
#menubar .current a,
#menubar a:hover {
  color: #888;
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
  padding: 5% 0 3% 3%;
  position: relative;
  animation-name: opa1;
  /*keyframes.cssで使う@keyframesの指定*/
  animation-duration: 0.5S;
  /*アニメーションの実行時間*/
  animation-delay: 0.5s;
  /*出現するタイミング（秒後）*/
  animation-fill-mode: both;
}

#menubar ul li a:active ul{
  animation-name: opa1;
}

#contents h2 {
  clear: both;
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.5em;
  font-weight: bold;
  font-family: Mr Eaves Mod OT;
}

/*段落タグ*/
#contents p {
  padding: 0 3% 30px;
}

/*他、微調整*/
#contents h2+p,
#contents h3+p {
  margin-top: -5px;
}

#contents p+p {
  margin-top: -10px;
}

#contents section+section {
  margin-top: 100px;
}

/*list（トップページ「私たちのこだわり」ブロックで使っている横長ブロック）
---------------------------------------------------------------------------*/
/*ボックスの設定*/
#contents .list {
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

/*コピーライト
---------------------------------------------------------------------------*/
#copyright {
  clear: both;
  text-align: left;
  background: #5f6060;
  color: #000;
  padding: 10px;
}

#copyright small {
  padding-left: 20px;
}

#copyright a {
  text-decoration: none;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*見出しを含まないお知らせブロック*/
#new dl {
  padding: 0px 1%;
  /*上下、左右へのブロック内の余白*/
}

/*日付設定*/
#new dt {
  float: left;
  width: 9em;
  letter-spacing: 0.1em;
}

/*記事設定*/
#new dd {
  padding-left: 9em;
}

/*inputボタン
---------------------------------------------------------------------------*/
#contents input[type="submit"].btn,
#contents input[type="button"].btn,
#contents input[type="reset"].btn {
  -webkit-appearance: none;
  outline: none;
  padding: 5px 20px;
  /*上下、左右へのボックス内の余白*/
  border: 1px solid #333;
  /*枠線の幅、線種、色*/
  border-radius: 3px;
  /*角丸のサイズ*/
  background: #333;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

/*マウスオン時の設定*/
#contents input[type="submit"].btn:hover,
#contents input[type="button"].btn:hover,
#contents input[type="reset"].btn:hover {
  border: 1px solid #333;
  background: #fff;
  color: #333;
}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
/*通常時のボタンは非表示*/
body .nav-fix-pos-pagetop a {
  display: none;
}

/*fixmenu_pagetop.jsで設定している設定値になったら出現するボタンスタイル*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
  display: block;
  width: 50px;
  height: 20px;
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 3%;
  background: url(../images/narrow-top.svg) no-repeat;
  /*枠線の幅、線種、色*/
  animation-name: opa1;
  /*keyframes.cssで使う@keyframesの指定*/
  animation-duration: 1S;
  /*アニメーションの実行時間*/
  animation-fill-mode: both;
  /*アニメーションの待機中は最初のキーフレームを維持、終了後は最後のキーフレームを維持。*/
}

.icon-top {
  position: absolute;
  top: 30px;
}

.icon-top div {
  width: 25px;
  height: 25px;
  padding-bottom: 15px;
}

#menubar-left {
  position: absolute;
  top: 10px;
  left: 15%;
}

#menubar-icon {
  position: relative;
}

.brand-content {
  padding-bottom: 7%;
}

.brand-image {
  width: 65%;
  padding-bottom: 15px;
}

.brand-logo {
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  width: 20%;
}

.brand-logo-2 {
  width: 12%;
}

.brand-desc-text {
  padding: 10px 0 0;
}

.brand-link {
  letter-spacing: 0.3rem;
  font-weight: bold;
}

.brand-social li {
  width: 25px;
  height: 25px;
  display: inline-block;
  padding-right: 10px;
}

.company-info {
  display: flex;
}

.company-info-en {
  flex-basis: 330px;
  font-family: Mr Eaves Mod OT;
}

.company-info-en .company-name {
  font-size: 22px;
}

.company-info-ja {
  font-size: 1em;
  padding-top: 10px;
}

.image-logo {
  position: absolute;
  top: 10%;
  left: 7%;
}

.image-logo-1 {
  width: 50%;
}

.image-logo-2 {
  width: 20%;
}

/*その他
---------------------------------------------------------------------------*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inden::before {
  content: "\A";
  white-space: pre;
}

@media screen and (max-width:480px) {
  .iden-sm-1::before {
    content: "\A";
    white-space: unset;
  }

  .inden-sm-2::before {
    content: "\A";
    white-space: pre;
  }
}

/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px) {

  /*全体の設定
---------------------------------------------------------------------------*/
  html, body {
    font-size: 2vw;
  }

  /*ヘッダー
---------------------------------------------------------------------------*/

  /*ヘッダーメニュー
---------------------------------------------------------------------------*/
  #header-menu {
    display: none !important;
  }

  /*その他
---------------------------------------------------------------------------*/
  body.s-n .sub, body.s-n #footermenu {
    display: none;
  }

  .company-info-en,
  .text-sub a,
  #contents h2 {
    font-family: "小塚ゴシック", "Helvetica", "sans-serif" !important;
  }

}

/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px) {

  /*全体の設定
---------------------------------------------------------------------------*/
  html, body {
    font-size: 3vw;
    padding-top: 8px;
  }

  .home header {
    flex-direction: column;
    padding-top: 0;
    margin-top: -30px;
  }

  .home header #logo {
    width: 50px;
    padding-bottom: 10px;
  }

  .icon-top {
    display: grid;
    grid-template-columns: 1fr 30px;
    justify-content: center;
    align-items: center;
    position: unset;
  }

  .icon-top div {
    padding-bottom: 0;
  }

  #menubar {
    top: 53px;
    left: 0;
    z-index: 2;
  }

  #menubar ul {
    transform: unset;
    width: 45vh;
  }

  /*h2タグ*/
  #contents h2 {
    margin-bottom: 0;
    letter-spacing: unset;
    font-size: 1.2em;

  }

  /*他、微調整*/
  #contents section+section {
    margin-top: 50px;
  }

  #new dt {
    width: 6em;
  }

  #new dd {
    padding-left: 7em;
  }

  .brand-logo {
    width: 40%;
  }

  .brand-logo-2 {
    width: 26%;
  }

  .company-info {
    flex-direction: column;
  }

  .company-info-en {
    flex-basis: unset;
  }

  .company-info-en .company-name {
    font-size: 1.2em;
    padding-bottom: 10px !important;
  }

  #contents p {
    padding: 0;
  }

  .brand-social {
    padding-top: 10px;
  }

  .company-info-ja {
    font-size: 12px;
    padding-top: 20px;
  }

  .company-adress {
    font-size: 12px;
  }

  .brand-link {
    letter-spacing: unset;
  }
}

